<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <%# @users.each do |user|   -- MAKE SURE THIS IS LOST! %>
    <%= render @users %>
  <%# end %>
</ul>
<%= will_paginate %>

